/* =============
    Accommodation
============= */
#accommodation{
    display: grid;
    grid-template-columns: 36px auto 36px;
    grid-template-areas:". contents .";
    background-color: $sand;

    @include md{
        grid-template-columns: 88px auto 88px;
    }

    @include lg{
        grid-template-columns: 95px auto 95px;
    }

    @include lg{
        grid-template-columns: 118px auto 118px;
    }

    div{
        grid-area: contents;

        h4{
            font-family: vincente, serif;
            font-weight: 400;
            font-style: normal;
            font-size: rem-calc(36px);

            @include md{
                font-size: rem-calc(48px);
            }

            @include lg{
                font-size: rem-calc(60px);
            }

            @include xl{
                font-size: rem-calc(72px);
            }
        }

        h6{
            border-bottom: 1px $black solid;
        }

        h6,p{
            font-family: futura-pt, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: rem-calc(12px);
            line-height: 12px;

            @include md{
                font-size: rem-calc(14px);
                line-height: 14px;
            }

            @include lg{
                font-size: rem-calc(16px);
                line-height: 16px;
            }

            @include xl{
                font-size: rem-calc(21px);
                line-height: 18px;
            }
        }

        ul{
            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }
            
            @include lg{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 16px;
            }
        }

        // i{
        //     display: none;

        //     @include lg{
        //         display: list-item;
        //     }
        // }
    }
}