/* =============
    Dining
============= */
#dining{
    background-color: $sand;
    
    @include md{
        display: grid;
        grid-template-columns: 50% auto;
    }

    #contents{
        display: grid;
        grid-template-columns: 6px auto 6px;
        grid-template-areas:". contents .";

        @include md{
            grid-template-columns: 32px auto 32px;
        }

        @include lg{
            grid-template-columns: 75px auto 75px;
        }

        @include xl{
            grid-template-columns: 155px auto 155px;
        }
        
        section{
            grid-area: contents;

            img{
                height: 125px;
                width: 125px;
                display: block;

                @include md{
                    height: 150px;
                    width: 150px;
                }

                @include lg{
                    height: 175px;
                    width: 175px;
                }

                @include lg{
                    height: 260px;
                    width: 260px;
                }
            }

            #split{
                @include md{
                    display: flex;

                    #left{
                        text-align: right;
                        margin-right: 8px;
                    }

                    #right{
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}