/* =============
    Hero
============= */
#hero{
    background-image: url("../img/hero/hero.jpg");
    height: 450px;
    background-size: cover;
    background-position: center;
    color: $white;

    @include md{
        height: 490px;
        background-position: center top;
    }

    @include lg{
        height: 660px;
    }

    @include xl{
        height: 890px;
    }

    #hero-body{
        display: grid;
        grid-template-columns: 86px auto 86px;
        grid-template-areas: ". content .";
        
        section{
            grid-area: content;

            @include md{
                grid-template-columns: 104px auto 104px;
            }
    
            @include lg{
                grid-template-columns: 130px auto 130px;
            }
    
            @include xl{
                grid-template-columns: 212px auto 212px;
            }

            ul{
                @include md{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}