/* =============
    Hero
============= */
#hero {
    background-image: url("../img/hero/hero.jpg");
    height: 553px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: $white;
    padding: 55px 0px;
    margin-top: -170px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
        height: 593px;
        background-position: center top;
        margin-top: -195px;
    }

    @include lg {
        height: 660px;
        padding: 66px 0px;
        margin-top: -106px;
    }

    @include xl {
        height: 888px;
        padding: 120px 0px;
    }

    #hero-body {
        display: grid;
        grid-template-columns: 86px auto 86px;
        grid-template-areas: ". content .";
        padding-top: 125px;

        @include md{
            padding-top: 150px;
        }

        @include lg{
            padding-top: 0px;
        }

        section {
            grid-area: content;

            @include md {
                grid-template-columns: 104px auto 104px;
            }

            @include lg {
                grid-template-columns: 130px auto 130px;
            }

            @include xl {
                grid-template-columns: 212px auto 212px;
            }

            h1 {
                font-family: vincente, serif;
                font-weight: 400;
                font-style: normal;
                font-size: rem-calc(60px);
                line-height: 55px;
                text-align: center;

                @include md {
                    font-size: rem-calc(100px);
                    line-height: 85px;
                }

                @include lg {
                    font-size: rem-calc(140px);
                    line-height: 120px;
                }

                @include xl {
                    font-size: rem-calc(200px);
                    line-height: 175px;
                    font-weight: 300;
                }
            }

            ul {
                margin: 35px 0px 5px 0px;

                @include md {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    margin: 70px 0px 22px 0px;
                }

                @include lg {
                    margin: 72px 0px 32px 0px;
                }

                @include xl {
                    margin: 110px 0px 55px 0px;
                }

                li {
                    font-family: futura-pt, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: rem-calc(12px);
                    text-align: center;

                    @include md {
                        font-size: rem-calc(14px);
                    }

                    @include lg {
                        font-size: rem-calc(16px);
                    }

                    @include xl {
                        font-size: rem-calc(18px);
                    }

                    h6 {
                        margin-bottom: 10px;

                        @include md {
                            margin-bottom: 20px;
                        }

                        @include lg {
                            margin-bottom: 35px;
                        }

                    }

                    input {
                        background-color: transparent;
                        color: $white;
                        font-family: futura-pt, sans-serif;
                        font-weight: 300;
                        font-style: normal;
                        font-size: rem-calc(21px);
                        outline: none;
                        border: none;
                        text-align: center;
                        margin-bottom: 20px;

                        @include md {
                            font-size: rem-calc(24px);
                            margin-bottom: 0px;
                        }

                        @include lg {
                            font-size: rem-calc(36px);
                        }

                        @include xl {
                            font-size: rem-calc(48px);
                        }

                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $white;
                            /* Firefox */
                            opacity: 1;
                            font-variation-settings: "wght"300;
                        }

                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $white;
                            font-variation-settings: "wght"300;
                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $white;
                            font-variation-settings: "wght"300;
                        }
                    }
                }
            }

            #button {
                display: flex;
                justify-content: center;

                button {
                    border: 1px $white solid;
                    background-color: transparent;
                    color: $white;
                    font-family: futura-pt, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: rem-calc(10px);
                    width: 100px;
                    padding: 6px 0px;

                    @include md {
                        font-size: rem-calc(12px);
                        width: 125px;
                    }

                    @include lg {
                        font-size: rem-calc(14px);
                        width: 162px;
                    }

                    @include xl {
                        font-size: rem-calc(14px);
                        width: 205px;
                    }
                }

                button:hover{
                    background-color: rgba(255,255,255, 0.2);
                    transition: 0.50s;
                }
            }
        }
    }
}