/* =============
    Header
============= */
header {
    background-color: transparent;
    left: 0px;
    top: 0px;
    width: 100%;
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". header .";

    >div {
        display: grid;
        grid-template-areas:
            "logo burger"
            "nav nav";
        grid-template-columns: 20% auto;
        // grid-area: header;
        padding: 13px 6px;

        @include md {
            padding: 23px 86px;
        }

        @include lg {
            padding: 32px 205px;
        }

        // @include lg {
        //     grid-template-areas: "logo nav";
        //     grid-template-columns: 20% auto;
        // }

        // @include xl{
        //     grid-area: header;
        // }

        #logo-container {
            grid-area: logo;
            font-family: vincente, serif;
            font-weight: 400;
            font-style: normal;
            font-size: rem-calc(18px);

            @include md {
                font-size: rem-calc(24px);
            }

            @include lg {
                display: none;
            }

            a:link,
            a:visited {
                transition: 0.25s;
                color: $white;

                &:hover {
                    color: $black;
                }   
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            grid-area: burger;

            @include lg {
                display: none !important;
            }

            #burger{

                position:relative;
                z-index: 10000;

                height: 100%;
                // background-color: orange;

                svg{
                    height: 50%;
                }
            }

            // button {
            //     margin-left: auto;
            //     cursor: pointer;
            //     border: none;
            //     background-color: transparent;

            //     i {
            //         // margin-left: auto;
            //         // cursor: pointer;
            //         font-size: rem-calc(20);
            //         color: $white;
            //     }
            // }
        }

        #nav-container {
            background-color: transparent;
            // display: none;
            grid-area: nav;
            // padding: 20px 10px 10px;
            // height: 100vh;

            // display: flex;
            // justify-content: center;
            // align-items: center;
            // width: 100vw;
            // height: 100vh;


            @include lg {
                display: block !important;
            }
        }
    }
}