/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 6px auto 6px;
    grid-template-areas:". header .";
    background-color: transparent;
    height: 38px;

    @include md{
        grid-template-columns: 88px auto 88px;
        height: 62px;
    }

    @include lg{
        grid-template-columns: 10px auto 10px;
        height: 90px;
    }

    @include lg{
        grid-template-columns: 210px auto 210px;
    }

    #header{
        grid-area: header;
        display: flex;

        ul{
            display: flex;
        }
    }
}